<div style="text-align:center">
    <h1>
        {{title}}
    </h1>
</div>
<div class="form-group" style="text-align:left">
        <select class="form-control" [(ngModel)]="selectedinstrument">
            <option *ngFor="let instrumentdropdown of instruments" [value]="instrumentdropdown">
                {{instrumentdropdown.name}}
            </option>
        </select>
        <select class="form-control" id="power" required style="text-align:right">
            <option *ngFor="let instrumentdropdown of instruments" [value]="instrumentdropdown">
                {{instrumentdropdown.name}}
            </option>
        </select>
</div>
<div class="form-group" style="text-align:left">
    <select class="form-control" [(ngModel)]="pitch">
        <option *ngFor="let pitchesdropdown of pitch" [value]="pitchdropdown">
            {{pitchesdropdown.name}}
        </option>
    </select>
</div>
<div>
    <h3>
        <p>
            Non-transposing instruments include:
            <br /> Flute
            <br /> Oboe
            <br /> Bassoon
            <br /> Trombone
            <br /> Euphonium/ Baritone B.C.
            <br /> Tuba
            <br /> Marimba
            <br /> Vibraphone
            <br /> Timpani
        </p>
    </h3>
</div>