h1 {
    color: #122;
    font-family: Marker Felt, sans-serif;
    font-size: 600%;
}
h2 {
    color: #122;
    font-family: Baskerville, sans-serif;
    font-size: 250%;
}
h3 {
    color: #122;
    font-family: Baskerville, sans-serif;
    font-size: 125%;
}